body {
    background-color: #121212;
}

.boton {
    margin: 2em;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,300&display=swap');

body {
    background-color: #121212;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: white;
}

.imagen-cancion {
    max-width: 100px;
    height: auto;
}

td,
th {
    vertical-align: middle;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: #1DB954;
}

.fa {
    transition: transform 0.3s ease;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa:hover {
    transform: scale(2);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    background-color: #232323;
    color: #ffffff;
  }