@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,300&display=swap');

body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: white;
}

/* Estilos básicos */
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    transition: color 0.3s ease;
}

/* Hover state */
.navbar-light .navbar-nav .nav-link:hover {
    color: #1DB954;
}

/* Active state */
.navbar-light .navbar-nav .nav-link.active {
    color: #1DB954;
    font-weight: bold;
}

/* Button styles */
.navbar-light .navbar-nav .nav-link .btn {
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

/* Hover state for button */
.navbar-light .navbar-nav .nav-link .btn:hover {
    background-color: #1DB954;
    color: #fff;
}


.logoImagen {
    height: 75px; 
    width: auto;
    object-fit: contain;
    margin-right: 10px;
    border-radius: 40px;
    box-shadow: 0 0 10px green;
}

.btn-dark {
    background-color: #1DB954;
    border: none;
    transition: background-color 0.5s;
}

.btn-dark:hover {
    background-color: #ffffff;
    color: #1DB954;
}


#catalogoCanciones {
    max-width: 600px;
    margin: auto;
}

.cancionItem {
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #232323;
}

.cancionItem strong {
    display: block;
    margin-bottom: 5px;
}

.btn-play {
    background-color: #1DB954;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 70px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: #1DB954;
  }

  .fa {
    transition: transform 0.3s ease;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.fa:hover {
    transform: scale(2);
}


footer {
    margin-top: auto;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    background-color: #232323;
    color: #ffffff;
}

.img-cancion {
    max-width: 100%;  
    height: auto; 
    width: 300px; 
    margin-bottom: 1em;
    border-radius: 8px;
}   